.jumbotron {
     background-color: rgb(252, 154, 27);
     color: black;
     margin-top: 50px;
}

.btn-ver, .btn-secondary {
    background-color: rgb(250, 147, 50);
    color: black;
}

footer {
    padding: 10px 10px 10px 10px;
    background-color: rgb(243, 143, 12);
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;
}

.d-block {
    width: 100;
    height: 400px;
}

.badge {
    background-color: gray;
}


.card-producto, .principal {
    flex:  1 250px;
    margin-top: 10px;
    background-color: rgb(247, 247, 247);
}   

.btn-ver {
    width: 100%;
}

.tooltip {
    background-color: black;
}

.address-icon {
    padding-right: 5px;
}

.tab-content { 
    padding-top: 10px;
}

.breadcrumb {
    margin-top: 1em;
}