@yellow:#eef52a;
@red: #f71f14;
@green: #b6f76a;


.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.padding(@top, @rigth, @left, @bottom) {
  padding-top: @top;
  padding-right: @rigth;
  padding-left: @left;
  padding-bottom: @bottom;
}

.jumbotron {
    background-color: @green;
    color: #000000;
    .margenes(50px, 2em);
    /*margin-top: 50px;
    margin-bottom: 2em; */}
  
  .btn-ver, .btn-secondary {
    background-color: @red;
    color: black; }
  
  footer {
    .padding(10px, 10px, 10px, 10px);
    /*padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;*/
    background-color: @yellow;
    .margenes(10px, 0px);
    //margin-top: 10px;
    //margin-bottom: 0px;
    text-align: center; }
  
  .d-block {
    width: 100;
    height: 400px; }
  
  .badge {
    background-color: gray; }
  
  .card-producto, .principal {
    flex: 1 250px;
    .margenes(10px, 0px);
    //margin-top: 10px;
    //margin-bottom: 0px;
    background-color: #f7f7f7; }
  
  .btn-ver {
    width: 100%; }
  
  .tooltip {
    background-color: black; }
  
  .address-icon {
    .padding(0px, 5px, 0px, 0px);
    /*padding-top: 0px;
    padding-right: 5px;
    padding-left: 0px;
    padding-bottom: 0px; */}
  
  .tab-content {
    .padding(10px, 0px, 0px, 0px);
    /*padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px; */}
  
  .breadcrumb {
    .margenes(1em, 1em);
    /*margin-top: 1em;
    margin-bottom: 0px;*/ }
