.jumbotron {
  background-color: #fc9a1b;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 2em; }

.btn-ver, .btn-secondary {
  background-color: #fa9332;
  color: black; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #f38f0c;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center; }

.d-block {
  width: 100;
  height: 400px; }

.badge {
  background-color: gray; }

.card-producto, .principal {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #f7f7f7; }

.btn-ver {
  width: 100%; }

.tooltip {
  background-color: black; }

.address-icon {
  padding-top: 0px;
  padding-right: 5px;
  padding-left: 0px;
  padding-bottom: 0px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px; }

.breadcrumb {
  margin-top: 1em;
  margin-bottom: opx; }
