$orange: #fc9a1b;
$black: #000000;
$yellow: #cfd437; 
$red: #f71f14; 
$green: #b6f76a;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($top, $rigth, $left, $bottom) {
    padding-top: $top;
    padding-right: $rigth;
    padding-left: $left;
    padding-bottom: $bottom;
}


.jumbotron {
    background-color: $orange;
    //background-color: $red;
    color: $black;
    @include margenes(50px, 2em);
}

.btn-ver, .btn-secondary {
    //background-color: $green;
    background-color: $orange;
    color: $black;
}

footer {
    @include padding(10px, 10px, 10px, 10px);
    //padding: 10px 10px 10px 10px;
    //background-color: $yellow;
    background-color: rgb(243, 143, 12);
    @include margenes(10px, 0px);
    //margin-bottom: 0px;
    //margin-top: 10px;
    text-align: center;
}

.d-block {
    width: 100;
    height: 400px;
}

.badge {
    background-color: gray;
}


.card-producto, .principal {
    flex:  1 250px;
    @include margenes(10px, 0px);
    //margin-top: 10px;
    background-color: rgb(247, 247, 247);
}   

.btn-ver {
    width: 100%;
}

.tooltip {
    background-color: black;
}

.address-icon {
    @include padding(0px, 5px, 0px, 0px);
    //padding-right: 5px;
}

.tab-content {
    @include padding(10px, 0px, 0px, 0px);
    //padding-top: 10px;
}

.breadcrumb {
    @include margenes(1em, opx);
    //margin-top: 1em;
}